* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* GENRAL */

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.main-container {
    /* width: 981px; */
}


/* FONTS */

@font-face {
    font-family: eurofurence;
    src: url(/fonts/eurofurence/eurof55.ttf);
}

@font-face {
    font-family: leto-regular;
    src: url(/fonts/Lato/Lato-Regular.ttf);
}

@font-face {
    font-family: leto-bold;
    src: url(/fonts/Lato/Lato-Bold.ttf);
}


/* HEADER */

.close-menu {
    display: none;
}

.open-menu {
    position: absolute;
    right: 15px;
    cursor: pointer;
}

header {
    background-color: #292929;
}

header .header-contect {
    height: 131px;
    position: relative;
    border-bottom: 3px black solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

header .header-logo {
    font-family: eurofurence;
    font-size: 2.5rem;
    color: #FFFFFF;
}

.main-menu ul {
    display: flex;
}

.main-menu ul li a {
    display: flex;
    width: 131px;
    height: 131px;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-family: leto-bold;
    border-right: 1px black solid;
    border-left: 1px black solid;
    transition: border 0.2s linear;
}

.main-menu ul li a:hover {
    border-bottom: 4px #58C93A solid;
    color: #58C93A;
}

.main-content {
    margin: auto;
}

.last {
    margin-bottom: 80px;
}

.post {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.post img {
    height: 240px;
    width: 360px;
    object-fit: contain;
}

.post .post-txt {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: stretch;
}

.post .post-txt .post-title {
    font-size: 1.128rem;
    font-family: leto-bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.post .post-txt .post-Summary {
    font-family: leto-regular;
    font-size: 0.9rem;
}

.post .post-txt .continu-btn {
    display: none;
    position: absolute;
    bottom: 0;
    font-family: leto-bold;
    width: 187px;
    height: 41px;
    color: #C2C1C1;
    border: 2px #C2C1C1 solid;
    border-radius: 20px;
    background-color: transparent;
    cursor: pointer;
}

.arrow {
    display: none;
    color: #58C93A;
    font-weight: 900;
}

.post .post-txt .continu-btn:hover {
    color: #58C93A;
    border-color: #58C93A;
}

.post .post-txt .continu-btn:hover>.arrow {
    display: inline-block
}

.nav-btn {
    margin: auto;
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    border: 1px #C2C1C1 solid;
    border-top: none;
    padding-left: 30px;
    padding-right: 30px;
}

.nav-btn button {
    font-size: 1.125rem;
    font-family: leto-bold;
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    color: #818181;
    cursor: pointer;
}

footer {
    height: 316px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #F8F8F8;
    gap: 32px;
}

footer .footer-logo {
    color: #292929;
    font-family: eurofurence;
    font-size: 2.5rem;
}

footer p {
    color: #A6A6A6;
}

footer .shar-icons {
    display: flex;
    gap: 26px;
}

.shar-icons .icon {
    width: 41px;
    height: 41px;
    background-color: #E5E5E5;
}

.shar-icons .icon:hover {
    background-color: #4267B2;
}


/* BP  */


/* mobile only  */

@media (max-width: 680px) {
    .main-container {}
    .post {
        padding: 10px;
        box-shadow: 1px 1px 7px 1px;
    }
    .main-menu ul {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        flex-direction: column;
        height: 100vh;
        width: 100%;
        background-color: black;
        align-items: center;
    }
    body.menu-is-open .main-menu ul,
    .close-menu {
        display: block;
    }
    .open-menu {
        background-color: transparent;
        color: white;
        font-size: 20px;
        border: none;
    }
    .close-menu {
        position: absolute;
        top: 10px;
        right: 10px;
        border: none;
        background-color: transparent;
        font-size: 20px;
        cursor: pointer;
    }
}


/* small */

@media (min-width: 680px) {
    .main-container {
        width: 640;
    }
    .main-content {
        border: 1px #C2C1C1 solid;
    }
    .post {
        flex-direction: row;
        margin-top: 80px;
    }
    .post img {
        height: 308px;
        width: 496px;
        object-fit: cover;
        margin-inline-end: 15px;
    }
    .post .post-txt .continu-btn {
        display: block;
        position: absolute;
        bottom: 0;
        font-family: leto-bold;
        width: 187px;
        height: 41px;
        color: #C2C1C1;
        border: 2px #C2C1C1 solid;
        border-radius: 20px;
        background-color: transparent;
        cursor: pointer;
    }
}


/* medium */

@media (min-width: 860px) {
    .post .post-txt .post-title {
        font-size: 1.428rem;
        margin-bottom: 58px;
    }
}


/* large */

@media (min-width: 1060px) {
    .main-container {
        width: 981px;
    }
    .post .post-txt .post-Summary {
        width: 445px;
    }
}